body {
    transition: background-color 0.5s;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    text-align: center;
}

.theme-toggle {
    padding: 10px;
    cursor: pointer;
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

#carouselExampleCaptions{
    border: 2px solid #333; 
    border-radius: 10px;

}

#container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.card{
    width: 30%; 
    margin-bottom: 50px; 
    border: 1px solid green;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}

.carousel{
    height: 550px;
    width: 800px;
    position: relative;
    top: 40%;
    left: 25%;
    right: 25%;
}

#clock{
    font-size: 2em;
    color: aqua;
}

#drop{
    left: 350px;
}

#nav{
    color: blue;
}

.logo{
    display: inline; 
    width: 40px;
    height: 40px; 
    margin: 10px; 
    border-radius: 50%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.carousel-caption{
    top: 80%;
    color: rgb(236, 3, 220);
}

#image{
    text-align: center;
    display: inline;
    justify-content: center;
    width: 100px; 
    height: 50px; 
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 40px
}    

.end {
    height: 200px;
    width: 100%;
    background-color: #034b61;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
}

.end-content {
    height: 200px;
    width: auto;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.end a {
    color: white;
    font-size: 20px;
    transition: font-size 0.4s ease-in-out 0s;
    text-decoration: none;
}
.end a:hover {
    font-size: 25px;
}

#text{
    text-align: center;
}

.card-body{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
